{% extends "base.html.twig" %}

{% block title %}InsatGl2Bundle:Personne:show{% endblock %}

{% block body %}
<h1>Welcome to the Personne:show page</h1>
    {#{% for personne in personnes %}#}
        {{ dump(personnes) }}
    {#{% endfor %}#}
{% endblock %}
